header{
    margin-top: 20px;
    span{
        border-bottom:rgb(255, 102, 0) solid 2px;
    }
    p{
        padding-top: 50px;
        margin-bottom:-25px;
    }
}

.cadre_animation{
    height: 600px;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
img{
    position: absolute;
    margin: auto;
}

/*############################   ICI LES DIFFERENTES PARTIES DU POUSSIN  ############################*/

.pbody{
    z-index: 1;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 300px;
}
.pfeet{
    z-index: 0;
    top: 350px;
    bottom: 0;
    left: 0;
    right: 171px;
    max-height: 250px;
}

.pleftwing{
    z-index: 0;
    top: 298px;
    bottom: 0;
    left: 0;
    right: 240px;
    max-height: 100px;
}

.prightwing{
    z-index: 0;
    top: 300px;
    bottom: 0;
    left: 220px;
    right: 0px;
    max-height: 100px;
}

.eyeleft{
    z-index: 2;
    top: 130px; /*yeux haut 100*/
    bottom: 0;
    left: 0;
    right: 65px; /*yeux haut 65*/
    max-height: 30px;
}
.eyeright{
    z-index: 2;
    top: 130px;
    bottom: 0;
    left: 34px;
    right: 0;
    max-height: 30px;
}


/*ANIMATION POUSSIN******************************************************************/
/*CORPS qui respire*/
.pbody{
    animation-name: corps;
    animation-duration: 2.2s;
    animation-fill-mode:none;
    animation-iteration-count: infinite;
}
@keyframes corps{
    0% {
    transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    100% {
    transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }

}

/*MOUVEMENT DES AILES*/



/*MOUVEMENT DES YEUX*/
.eyeright{
    animation-name: eyemove;
    animation-duration: 2200ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.eyeleft{
    animation-name: eyemove;
    animation-duration: 2200ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes eyemove{
    0%{
        transform: translate(2px,8px);
    }
    50%{
        transform: translate(1px,6px);
    }
    75%{
        transform: translate(7px,-10px);
    }
    100%{
        transform: translate(1px,-10px);
    }
}